* {
    box-sizing: border-box;
  }

html {
    height: 100%;
    width: 100%;
    background-image: url("candles.jpg");
    background-size: 100%;
    background-repeat: repeat;
}

.head1 {
    background-image: url("lavender.jpg");
    background-position: right top;
    background-color: white;
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    color: rgb(116, 74, 140);
}

.head2 {
    color: white;
}

h2 {
    font-size: 60px;
    font-family: Apple Chancery;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 30px;
    font-family: Apple Chancery;
    font-weight: normal;    
}

.section-main {
    background-color: rgb(235, 217, 217);
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
    color: black;
    padding-top: 30px;}

.bio-text {
    text-align: center;
    font-size: 20px;
    float: left;
    height: 100%;
    width: 60%;
    padding: 20px;
    padding-top: 100px;
}

.jan {
    /* float: right; */
    height: 100%;
    padding: 20px;
    width: 350px;
    padding-right: 20px;
}

#directory {
    list-style-type: none;
    text-align: center;  
    text-decoration: none;  
    color: rgb(116, 74, 140);
    font-size: 25px;
}

.candleTable {
    margin-left: auto;
    margin-right: auto;
    margin-left: 30px;
    margin-right: 30px;
}

.candle-image {
    max-width: 100%;  
    height: auto;  
    padding: 10px;    
}