
html {
    height: 100%;
    width: 100%;
    background-image: url("flowerpot.jpg");
    background-size: 600px;
    background-position: 60px 0px;
    background-repeat: no-repeat;
    background-color: rgb(104, 122, 107);
}

h2 {
    color: rgb(63, 63, 63);
    font-family: Copperplate;
    font-size: 40px;
    font-weight: 10;
    text-align: center;
    position: relative;
    top: 20px;
    background: rgb(131, 113, 120);
    box-shadow: 0 2px 0 rgb(67, 54, 59, 0.671);
    color: rgb(224, 224, 224);
    padding: 15px;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 1000;
    text-align: center;
}

.projects {
    background: rgb(224, 224, 224);
    box-shadow: 2px 2px 0 rgba(97, 96, 96, 0.56);
    text-align: center;
    margin-right: 5%;
    margin-left: 40%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100px;
    padding: 5%;
}

/* project links */
a {
    color: rgb(63, 63, 63);
    font-weight: 10;
    font-size: 20px;
    text-decoration: none;
}

/* descriptions */
p {
    color: rgb(93, 93, 93);
    font-size: 16px;
}


