@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }

body {
    text-align: center;
    background-color: rgba(192, 223, 182, 0.719);
}
  
#header {
    background-color: rgba(50, 99, 50, 0.688);
    background-image: url(./images/paws.png), url(./images/paws.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-size: 300px;
    padding: 2px;
}

h1 {
    font-family: 'Rocher';
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

h2 {
    font-family:'Red Hat Display', sans-serif;
    color: rgba(14, 31, 14, 0.696);
    text-shadow: 2px 2px rgba(125, 161, 125, 0.846);
    font-size: 32px;
}

#zip_code {
    width: 300px;
    height: 60px;
    font-size: 18px;
    padding: 12px 20px;
    margin: 15px;
    margin-top: 40px;
    box-sizing: border-box;
    background-image: url('searchicon.png');
}

#box_title {
    font-size: 18px;;
}

#zip_code:focus {
    border: 3px solid #555;
  }

#next_button {
  background-color: #e4d3c1;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  height: 60px;
  font-size: 22px;
  padding: 0 25px;
  line-height: 40px;
}

#next_button:hover {
  background-color: #fff;
}

#next_button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

footer {
    margin-top: 50px;
    background-color: rgba(151, 124, 109, 0.69);
    font-family:'Red Hat Display', sans-serif;
    color: rgba(0, 0, 0, 0.838);
    font-size: 16px;
    padding: 30px;
}

#link {
    color: rgb(97, 39, 163);
    text-decoration: none;
}

#dog_info{
    font-family:'Red Hat Display', sans-serif;
}

#notes {
    font-family:'Red Hat Display', sans-serif;
    color: rgba(32, 56, 105, 0.847);
    font-size: 22px;
}

#name {
    font-family:'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding: 15px;
    color: rgba(32, 56, 105, 0.847);
    text-shadow: 2px 2px rgba(108, 121, 130, 0.52);
}

#info_box {
    /* background-color: rgb(236, 236, 236); */
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    margin-bottom: 80px;
    border-radius: 25px;
    color: rgb(136, 136, 136);
    height: 40px;
}


#size, #age {
    float: left;
	width: 25%;
}

#gender, #breed {
    float: right;
	width: 25%;  

}

#find_me {
    font-size: 26px;
    font-weight: 700;
}

#location_box {
    /* background-color:rgba(86, 107, 191, 0.181); */
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:40px;
    border-radius: 25px;
}


